body {
  background-color: #fcb87d44;
  font-family: "Dosis", sans-serif;
}

.container {
  background: white;
  max-width: 60%;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
